header {
	width: 100%;
	text-transform: uppercase;
	padding: 20px;
}

	
li {
	float: left;
	padding-left: 10px;
	list-style-type: none;
}

a {
	text-decoration: none;
	padding-top: 8px;
	-webkit-transition: 0.2s;
	position: relative;
    color: #FF6699;
}


a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #33CCCC;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;

}

a:hover:after{
	width: 100%;
}
